.info-dic{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	border-bottom: none;
  padding: 15px;
}

.dictionary-form{
	border-bottom: none;
  margin: 0;
}

.dictionary-form .btn{
  margin: 10px;
}

.dictionary-list{
  margin: 0;
  padding: 30px 10px;
}

.dictionary-list .card{
	min-height: 270px;
	margin-bottom : 20px;
}

.dictionary-list .my-btn{
  margin-right : 7px;
  margin-bottom: 7px;
}

.dictionaries-wrapper{
  margin: 0;
}
.dictionaries-info-buttons button{
  margin: 0 10px;
}

.card-button{
	font-size: 60px;
	font-weight: 700;
  width: 100%;
	min-height: 270px;
}

.card-button:hover{
	color: rgba(11, 71, 41, 0.85);
  background-color: rgb(206, 233, 195);

}

.card-button-wrapper{
  height: 100%;
  padding-bottom: 20px;
}

.input-buttons-row{
  display: flex;
  margin-top: 25px;
  flex-direction: row;
  justify-content: flex-start;
}

.input-buttons-row button{
  margin: 5px;
  padding: 8px 25px;
}

.input-inputs-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.input-inputs-row input{
  padding: 8px ;
  margin-right: 15px;
}

