.auth-form{
  width: 40%;
  padding: 45px;
  margin: 40px auto;
  border: 1px solid #00cc66;
	background-color: #e6fff2;
	border-radius: 5px;
}

.auth-button-loader{
  position: relative;
}
.auth-buttons-row{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}