.main-section{
  padding: 40px;
}

.statistic{
  padding-top: 30px;
  font-size: 17px;
}

.row-with-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.row-with-info p{
  font-size: 18px;
}

.buttons{
  margin-top: 40px;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 40px;
}

.buttons button{
  font-size: 17px;
  color: azure;
  margin: 0 10px;
}

.account-info{
  border: 1px solid;
  padding: 20px;
  margin-top: 20px;
}

.account-info p {
  margin: 7px 0;
}